<%- include _header %>

<style type="text/css">
    #row{width: 960px;clear: both;margin: auto}

</style>
<div id="row" class="row" >

</div>

<%- include _footer %>

<script type="text/javascript">

    (function($){
        var url_apptype="/system/commentList";
        $.my_ajax_html(url_apptype,'#row');
    })($);

</script>