<%- include _header %>
<style type="text/css">
    #queryTable{}
    #queryTable tr{height:60px}
    #queryTable tr td{width:120px}
    .wd200{width:200px}

</style>


<div id="row" class="row">
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 查询</h3>
            </div>
            <div class="panel-body">
                <form class="form-signin">
                    <table id="queryTable">
                        <tr>
                            <td><label>宿主名称：</label></td>
                            <td><select class="form-control .wd200"><option>XP</option> <option>Windows</option></select></td>
                            <td></td>
                            <td><label>插件名称：</label></td>
                            <td><input type="email" id="inputEmail" class="form-control wd200" required autofocus></td>
                        </tr>
                        <tr>
                            <td><label>开发者：</label></td>
                            <td><input type="email" id="inputEmail" class="form-control wd200"  required autofocus></td>
                            <td></td>
                            <td><label>创建时间：</label></td>
                            <td><input type="email" id="inputEmail" class="form-control wd200" required autofocus></td>
                        </tr>

                        <tr>
                            <td><label>插件状态：</label></td>
                            <td><input type="email" id="inputEmail" class="form-control wd200"  required autofocus></td>
                            <td></td>
                            <td><label>插件类别：</label></td>
                            <td><input type="email" id="inputEmail" class="form-control wd200"  required autofocus></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-lg btn-primary btn-block" type="button">查询</button>
                            <td>
                        </tr>

                    </table>



                </form>


            </div>
        </div>
    </div>
</div>



<%- include _footer %>

<script type="text/javascript">

    $('#row').center();

</script>