<%- include _header %>
<style type="text/css">
    #queryTable{}
    #queryTable tr{height:48px}
    #queryTable tr td{width:150px}
    .wd200{width:200px}
    #row{width: 960px;clear: both;margin: auto}
    .ml_50{margin-left: 50px}
    .ml_10{margin-left: 10px}
    .mt_10{margin-top: 10px}

    #flower_table{margin-left: 10px}
    #flower_table  tr{
        height: 40px;
    }

</style>
<div id="row" class="row">
    <div class="panel panel-default mt_10">
            <div class="panel-heading">
                <h3 class="panel-title"> 查询</h3>
            </div>
            <div class="panel-body">
                <form class="form-signin">
                    <table id="queryTable" class="ml_50">
                        <tr>
                            <td><label>宿主名称：</label></td>
                            <td><select id="flower_host_select" class="form-control wd200">

                                </select>
                            </td>
                            <td></td>
                            <td><label>所属状态：</label></td>
                            <td>
                                <select id="flower_status_select" class="form-control wd200">
                                    <option value="-1">请选择</option>
                                    <option value="9">已确认</option>
                                    <option value="0">申请</option>
                                    <option value="1">待测试</option>
                                    <option value="2">通过测试</option>


                                    <option value="3">未通过测试</option>
                                    <option value="4">已下架</option>
                                    <option value="5">已冻结</option>
                                </select>
                            </td>

                        </tr>

                        <tr>
                            <td><label>插件类别：</label></td>
                            <td colspan="3" id="flower_apptype"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div id="flower_query" class="btn btn-lg btn-primary btn-block" type="button">查询</div>
                            <td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    <div class="table-responsive">
        <div id="flower_developer"></div>
        <div id="flower_app"></div>
    </div>

</div>
<div id="bannerBar" class="panel panel-primary" style="width:500px;height:350px;z-index:999999;display: none;">
    <div id="banner" class="panel-heading" style="cursor: move;clear: both;height: 40px; ">
        <h3 class="panel-title" style="float: left">流程审批</h3>
        <span id="queryBoxClose" class="badge" style="float: right;cursor:pointer">&times;</span>
    </div>
    <div class="panel-body">
       <form id="flower_form">
        <table id="flower_table">
            <tr>
                <td> <input type="radio" name="flower" value="9" /></td>
                <td><span class="ml_10">上架</span></td>
            </tr>
            <tr>
                <td> <input type="radio" name="flower" value="5" /></td>
                <td><span class="ml_10">通过</span></td>
            </tr>
            <tr>
                <td> <input type="radio" name="flower" value="4" /></td>
                <td><span class="ml_10">下架</span></td>
            </tr>
            <tr>
                <td> <input type="radio" name="flower" value="3" /></td>
                <td><span class="ml_10">冻结</span></td>
            </tr>
            <tr>
                <td> <input type="radio" name="flower" value="2" /></td>
                <td><span class="ml_10">测试中</span></td>
            </tr>
            <tr>
                <td> <input type="radio" name="flower" value="1" /></td>
                <td><span class="ml_10">未通过</span></td>
            </tr>

        </table>

        <div id="flower_submit" style="width: 150px;margin-left: 160px"  class="btn btn-lg btn-primary btn-block">确定</div>
           <input type="hidden" name="id" id="bannerBar_id" value="">
           <input type="hidden" name="table" id="bannerBar_table" value="">
           <input type="hidden" name="col_id" id="bannerBar_col_id" value="">
           <input type="hidden" name="up_col" id="bannerBar_up_col" value="">

       </form>
    </div>
</div>


<%- include _footer %>

<script type="text/javascript">

    (function($){
        function load(){
            var url_developer="/admin/flower_developer";
            $.my_ajax_html(url_developer,'#flower_developer');

            var url_flower="/admin/flower_app?type=0&ejsView=flower_app.ejs";
            $.my_ajax_html(url_flower,'#flower_app');

            var url_host="/system/hostAppName";
            $.my_ajax_html(url_host,'#flower_host_select');

            var url_apptype="/system/apptype";
            $.my_ajax_html(url_apptype,'#flower_apptype');
        }

        load();

        $("#flower_developer").delegate("table tr","dblclick",function(){
            addTable($(this));
            $("#bannerBar").show();

            return false;
        });

        $("#flower_app").delegate("table tr","dblclick",function(){
            addTable($(this));
            $("#bannerBar").show();

            return false;
        });

        function addTable(oThis){
            $("#bannerBar_id").val(oThis.attr("id"));
            $("#bannerBar_table").val(oThis.attr("table"));
            $("#bannerBar_col_id").val(oThis.attr("col_id"));
            $("#bannerBar_up_col").val(oThis.attr("up_col"));

        };

        $("#flower_submit").click(function(){
            var url="/admin/add_flower_submit?"+$("#flower_form").serialize();
            $.my_ajax_html(url,"#Empty",load);

            $("#bannerBar").hide();

        });

        $("#flower_query").click(function(){
            var hostNameValue='hostNameValue='+$("#flower_host_select").find("option:selected").val();
            var appStatusValue='appStatusValue='+$("#flower_status_select").find("option:selected").val();

            var apptypeValue=[];
            $("#flower_apptype input").each(function () {
                if ($(this).is(":checked")){
                    apptypeValue.push('apptype='+$(this).val());
                }
            });

            if (hostNameValue.indexOf('-1')>0&&appStatusValue.indexOf('-1')>0&&apptypeValue.length==0){
                alert('请选择至少一个查询条件');
                return;
            }

            if (apptypeValue.length==0){
                apptypeValue.push('apptype=-1');
            }

            var url="/admin/flower_query?"+hostNameValue+'&'+appStatusValue+'&'+apptypeValue.join('&');
            $.my_ajax_html(url,'#flower_app');
        });

    })($);

</script>