<%- include _header %>

<link href="<%= staticResourceUrl %>/css/tablednd.css" rel="stylesheet">
<style>
    .list_tab {
        color: coral
    }

    #queryTable{}
    #queryTable tr{height:48px}
    #queryTable tr td{width:150px}
    .wd200{width:200px}
    .wd550{width:480px}
    #row{width: 960px;clear: both;margin: auto}
    .ml_50{margin-left: 50px}
    .ml_10{margin-left: 10px}
    .mt_10{margin-top: 10px}
    .ht_80{height: 180px}
    #flower_table{margin-left: 10px}
    #flower_table  tr{
        height: 40px;
    }

    #choose_hostApp_type input{float: left}
    #choose_hostApp_type label{float: left;margin: 2px 5px 0 5px}

</style>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul id="list_tab" class="nav nav-sidebar">
            <li class="active"><a href="#">设置管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="#hostApp"><span class="list_tab">宿主软件</span></a></li>
            <li><a href="#appTypeRoot"><span>宿主级分类</span></a></li>
            <li><a href="#bimAd"><span>广告管理</span></a></li>

        </ul>

    </div>
</div>

<div id="list_select" class="tableDemo" style="margin-left:100px; width: 10000px;">

</div>

</div>

<div id="bannerBar" class="panel panel-primary" style="z-index:9999; display: none;">
    <div id="banner" class="panel-heading" style="cursor: move;clear: both;height: 40px; ">
        <h3 class="panel-title" style="float: left"></h3>
        <span id="queryBoxClose" class="badge" style="float: right;cursor:pointer">&times;</span>
    </div>
    <div id="panel-body" class="panel-body" data="">


    </div>
</div>

<div id="EventListen" style="display: none"></div>

<div id="add_host_app" style="display: none" width="600px" height="380px" type="">
    <form id="replace_host_app_form" class="form-signin">
        <table id="queryTable" >
            <tr>
                <td>宿主名称：</td>
                <td><input id="text_hostApp" name="hostAppName" type="text"  class="form-control wd200" ><input id="text_id" name="id" type="hidden"/></td>
                <td></td>
                <td>宿主包名：</td>
                <td><input id="text_hostApp_name" name="hostPackageName" type="text"  class="form-control wd200"></td>
            </tr>
            <tr>
                <td>支持的版本</td>
                <td><input id="text_hostApp_version" type="text" name="own_version" class="form-control wd200"></td>
                <td></td>
                <td>用分割符区分版本</td>
                <td>(比如：12;14;15;)</td>

            </tr>
            <tr>
                <td>选择类别</td>
                <td id="choose_hostApp_type" colspan="4"></td>
            </tr>

            <tr>
                <td>宿主标识：</td>
                <td><input id="text_hostApp_id" name="app_product_id" type="text"  class="form-control wd200" ></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="ht_80">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>


            <tr>
                <td><button class="btn btn-lg btn-primary btn-block" type="button">确定</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>




        </table>
    </form>
</form>
</div>

<div id="add_app_type_root" style="display:none" width="500px" height="300px" type="">
    <form id="replace_app_type_root_form" class="form-signin">
        <table id="queryTable" >
            <tr>
                <td>code：</td>
                <td><input id="text_code" name="code" type="text"  class="form-control wd200" ><input id="type_root_id" name="id" type="hidden"/></td>

            </tr>
            <tr>
                <td>名称：</td>
                <td><input id="text_name" type="text" name="name" class="form-control wd200"></td>
            </tr>
            <tr class="ht_80">
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <button class="btn btn-lg btn-primary btn-block" type="button">确定</button>


                </td>
                <td></td>

            </tr>

        </table>
    </form>
</div>

<iframe name="hidden_frame" id="hidden_frame" style="display: none"></iframe>

<div id="add_bim_ad" style="display:none" width="500px" height="300px" type="">
    <form id="replace_add_bim_ad_form" name="replace_add_bim_ad_form" action="/admin/uploadAd" class="form-signin" method="post" enctype="multipart/form-data" target="hidden_frame" onsubmit="doCheck()">
        <table id="queryTable" >
            <tr>
                <td>广告名称：</td>
                <td>
                    <input id="appimg_name" name="appimg_name" type="text"  class="form-control wd200" >
                    <input id="appimg_id" name="appimg_id" type="hidden"/>
                </td>
            </tr>
            <tr>
                <td>路径：</td>
                <td><input type="file" name="adsPath" multiple="multiple" class="wd200"></td>
            </tr>
            <tr class="ht_80">
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <input style="height: 40px;" class="btn btn-lg btn-primary btn-block" type="submit" value="确定"/>

                </td>
                <td>

                </td>
            </tr>

        </table>

    </form>
</div>

<%- include _footer %>

<script type="text/javascript">
    (function($){
        function fetchHostApp(){
            var url="/admin/layout_hostapp";
            $.my_ajax_html(url,'#list_select');
        }
        fetchHostApp();

        function fetchAppTypeRoot(){
            var url="/admin/app_type_root";
            $.my_ajax_html(url,'#list_select');
        }

        function fetchBimAd(){
            var url="/admin/bim_app";
            $.my_ajax_html(url,'#list_select');
        }

        $("#list_select").delegate(".list_delete","click",function(){
            var flag=confirm('请您确认是否真的要删除!');
            if (flag){
                var dom=$(this).parent().parent().parent();
                var id=dom.attr('id');
                var table=dom.attr('table');
                var col_id=dom.attr('col_id');

                var url='/system/delete_table?col_id='+col_id+'&id='+id+"&table="+table;
                $.my_ajax_html(url,"");

                alert('该操作已执行,如果已存在数据表的级联关系,系统默认不会删除！');
                var data=$("#panel-body").attr("data");
                if (data=='add_host_app'){
                    fetchHostApp();
                }else if(data=='add_app_type_root'){
                    fetchAppTypeRoot();
                }else if (data=='add_bim_ad'){
                    fetchBimAd();
                }else{
                    fetchBimAd();
                }
            }
        });

        $("#list_select").delegate(".list_edit","click",function(){
            var divID=$(this).attr('divID'),
                    name=$(this).attr("title");
            var width=$("#"+divID).attr('width');
            var height=$("#"+divID).attr('height');

            addBannerBar(width,height,divID,name,"edit");

            var data=$("#panel-body").attr("data");

            if (data=="add_host_app"){
                $("#text_hostApp_id").val($(this).attr("app_product_id"));
                $("#text_hostApp").val($(this).attr("hostAppName"));
                $("#text_hostApp_name").val($(this).attr("hostPackageName"));
                $("#text_hostApp_version").val($(this).attr("own_version"));
                $("#text_id").val($(this).attr("id"));

                $("#max_type_root_id").attr("maxID",$(this).attr('id'));
                fetchAppType();
            }else if(data=="add_app_type_root"){
                $("#text_code").val($(this).attr("code"));
                $("#text_name").val($(this).attr("name"));
                $("#type_root_id").val($(this).attr("id"));
            }else if(data=="add_bim_ad"){
                $("#appimg_name").val($(this).attr("appimg_name"));
                $("#appimg_id").val($(this).attr("appimg_id"));
            }
        });

        $("#list_select").delegate(".list_add","click",function(){
            var divId=$(this).attr("divID");
            var name=$(this).attr("title");

            var width=$('#'+divId).attr('width');
            var height=$('#'+divId).attr('height');

            addBannerBar(width,height,divId,name,"add");

            if (divId=='add_host_app') {
                fetchAppType();
            }
        });

        function fetchAppType(){
            var url="/system/appType";
            $.my_ajax_html(url,"#choose_hostApp_type");
        }

        function addBannerBar(width,height,divTarget,topic,type){
            $("#bannerBar").attr('width',width);
            $("#bannerBar").attr('height',height);
            $("#bannerBar").attr('type',type);

            $("#panel-body").attr("data",divTarget);

            var html=$('#'+divTarget).html().replace(/replace_.*?_form/,divTarget+'_form');
            $("#panel-body").html(html);

            $("#banner h3").text(topic);
            $("#bannerBar").show();
            $("#bannerBar").center();
        }

        $("#panel-body").delegate("#replace_add_bim_ad_submit","click",function(){
            var type=$("#bannerBar").attr('type');
            document.forms["replace_add_bim_ad_form"].submit();
            //$("#replace_add_bim_ad_form").submit();
            doCheck();
        })

//        $("#panel-body").delegate("button","click",function(){
//            var url=undefined;
//            var type=$("#bannerBar").attr('type');
//            if (type=='add'||type=='edit'){
//                var data=$("#panel-body").attr("data"),
//                        form=$("#"+data+"_form").serialize();
//                if (data=='add_host_app'){
//                    if (type=='add'){
//                        var maxID=parseInt($("#max_type_root_id").attr("maxID"))+1;
//                    }else{
//                        var maxID=parseInt($("#max_type_root_id").attr("maxID"));
//                    }
//
//                    url='/admin/'+type+'_host_app?maxID='+maxID+'&'+form;
//                    $.my_ajax_alert(url,"/admin/layout_hostapp",'#list_select');
//                }else if(data=='add_app_type_root'){
//                    url='/admin/'+type+'_app_type_root?'+form;
//                    $.my_ajax_alert(url,"/admin/app_type_root",'#list_select');
//                }else if(data=='add_bim_ad'){
//                    if (type=='add'){
//                        var url=$("#replace_add_bim_ad_form").attr("action")+'?appimg_name='+$("#appimg_name").val();
//                        $("#replace_add_bim_ad_form").attr("action",url);
//
//                        document.forms["replace_add_bim_ad_form"].submit();
//                        //$("#replace_add_bim_ad_form").submit();
//                        doCheck();
//                    }else{
//                        url='/admin/edit_bim_ad?'+form;
//                        $.my_ajax_alert(url,"/admin/app_type_root",'#list_select');
//                    }
//                }
//
//
//            }
//        });

        $("#list_tab li a").click(function(){
                var href=$(this).attr('href');
                if(href.length>2){
                    $(this).parent().parent().children().children().children().removeClass('list_tab');
                    $(this).children().addClass('list_tab');

                    if(href=="list_type"){
                        $("#list_type").show();
                        $("#list_select").hide();
                    }else{
                        $("#list_type").hide();
                        $("#list_select").show();
                    }

                    if (href=="#hostApp"){
                        fetchHostApp();
                    }else if (href=="#appTypeRoot"){
                        fetchAppTypeRoot();
                    }else if (href=="#bimAd"){
                        fetchBimAd();
                    }

                    return false;
                }
            });



    })($);


    function doCheck() {
        var count = 0;
        var interval = setInterval(function () {
            var body = $(document.getElementById("hidden_frame").contentWindow.document.body).text().toString();

            console.log(new Date().getTime() + body);

            if (body.indexOf("error") != -1) {
                clearInterval(interval);
                alert('很抱歉，系统维护中，请稍后在试……');
                return;
            }

            if (body.indexOf("again") != -1) {
                clearInterval(interval);
                alert('很抱歉，系统繁忙中，请稍后在试……');
                return;
            }

            if (body.indexOf("success") != -1) {
                clearInterval(interval);
                alert("广告信息提交成功！");
                fetchBimAd();
                return;
            }

            if (body.indexOf("failed") != -1) {
                clearInterval(interval);
                alert("提交插件失败，请联系管理人员！");
                return;
            }

            count += 1;
            if (count == 300) {
                clearInterval(interval);
                alert("本次提交时间延迟，请稍后重试！");
                return;
            }

        }, 1000);

        function fetchBimAd() {
            var url = "/admin/bim_app";
            $.my_ajax_html(url,'#list_select');
        };
    }

</script>
<!--$("#EventListen").bind('DOMNodeInserted',function(e){-->
<!--alert($(this).html());-->
<!--});-->