<%- include _header %>

<style>
    .list_tab{color: coral}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="list_tab" class="nav nav-sidebar">
                <li class="active"><a href="#">设置管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="#Stat_Nar"><span>分类管理</span></a></li>
                <li><a href="#User_Vistor"><span>广告管理</span></a></li>
                <li><a href="#Plug_Down"><span>宿主软件</span></a></li>
            </ul>

        </div>
页面布局
</div></div>

<%- include _footer %>
