 <div id="my-app-nav">
            <div id="sub-nav">
                <h1 class="show">应用管理</h1>
                <ul class="show-class">
                    <li>
                        <a href="/developer/manage"
                           class="<% if(mClass=="manage"){%> active <%}%>">
                            我的应用
                        </a>
                    </li>
                    <li>
                        <a href="/developer/upload"
                           class="<% if(mClass=="upload") { %> active <%}%>">
                            上传新应用
                        </a>
                    </li>

                </ul>
                <h1 class="show" style="border-top-width: 1px;">数据查询</h1>
                <ul class="show-class">
                    <li><a href="/" class="">用户安装查询</a>
                    </li>
                    <li><a href="/" class="">用户卸载查询</a></li>


                </ul>
                <h1 class="show" style="border-top-width: 1px;">帐户信息</h1>
                <ul class="show-class">
                    <li><a href="/" class="">帐户设置</a>
                    </li>

                </ul>
                <h1 class="show" style="border-top-width: 1px;">系统消息</h1>
                <ul class="show-class">
                    <li style="position: relative;"><a href=""
                                                       class="">消息</a><span class="round">●</span></li>
                    <li style="position: relative;"><a href=""
                                                       class="">提醒</a><span class="round">●</span></li>
                </ul>
            </div>
        </div>