<%- include _header %>

<style type="text/css">
.mframe {
float: left;
margin: 2px 0;
text-align: left;
width: 998px;
}
.mframe ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.mframe {
border: 1px solid #A9CBEE;
}
.mframe td.lf {
background: none repeat scroll 0 0 #F6F9FE;
border-right: 1px solid #A9CBEE;
padding: 20px 10px 13px 15px;
vertical-align: top;
width: 177px;
}
.mframe td.lf div.df {
width: 162px;
}
.mframe td.lf ul li {
padding: 4px 0;
}
.mframe td.lf ul li.center {
text-align: left;
}
.mframe td.lf ul li.center img {
border: 1px solid #CCCCCC;
}
.mframe td.lf ul li dfn {
display: block;
font-style: normal;
font-weight: bold;
padding: 2px 0;
text-align: left;
}
.mframe td.lf ul li dfn a {
color: #333333;
}

.mframe td.lf ul li em {
float: left;
font-style: normal;
margin: 23px 0 0;
}
.mframe td.lf ul li em a {
color: #000000;
}
.mframe td.lf ul li div.medalregion {
float: left;
}
.mframe td.lf ul li div.medalregion div {
float: left;
}
.mframe td.lf ul li div.medalregion div p.medalnum {
color: #FFFFFF;
font: bold 9px Tahoma,simsun;
margin: 2px 0 0 19px;
}
.mframe td.rw {
vertical-align: top;
}
.mtxt {
font-size: 14px;
line-height: 23px;
margin: 10px 0;
padding: 10px 20px;
width: 100%;
}
.mtxt p.be {
background: none repeat scroll 0 0 #EFEFEF;
border: 1px solid #CCCCCC;
color: #BB0000;
font-size: 12px;
margin: 10px 0;
padding: 5px 15px;
text-align: left;
white-space: nowrap;
width: 250px;
}
.msgfont {
overflow-x: hidden;
width: 718px;
}
.msgfont span {
line-height: 150%;
}
.mtxt fieldset {
border: 1px solid #CAD9EA;
font: 12px/19px simsun;
margin: 10px;
overflow-x: hidden;
padding: 10px;
width: 620px;
}
.mtxt fieldset legend {
color: #666666;
font: bold 12px simsun;
}
.fbart {
border-bottom: 1px solid #A9CBEE;
height: 18px;
line-height: 18px;
padding: 3px 6px;
}
.fbart em {
float: right;
font-style: normal;
font-weight: bold;
padding: 0 3px;
}
.fbart dfn {
float: right;
font-style: normal;
padding: 0 3px;
}
.fbart dfn code {
color: #CC3300;
font-style: normal;
}
.mframe td.rb {
vertical-align: bottom;
}
.fbarb {
background: none repeat scroll 0 0 #F6F9FE;
border-top: 1px solid #A9CBEE;
clear: both;
height: 18px;
line-height: 18px;
padding: 3px 6px;
}
.fbarb ul {
float: right;
}
.fbarb ul li {
float: left;
}
.fbarb ul li a {
border-right: 1px solid #666666;
color: #000000;
padding: 0 6px;
text-decoration: none;
}
.fbarb ul li a.nob {
border: 0 none;
}
.fbarb ul li a.dr {
color: #BB0000;
}
.fbarb ul li a.gr {
color: #002D93;
}
.fbarb div.rt {
overflow: hidden;
white-space: nowrap;
width: 440px;
}
.fm {
background: none repeat scroll 0 0 #FAFAFB;
border: 1px solid #A9CBEE;
width: 996px;
height:27px;
}
.fm ul.menu {
float: left;
width: 950px;
padding-top:2px;
}
.fm ul.menu li {
background: url("/img/bbspage_addpic1.gif") repeat-x scroll 0 0 transparent;
float: left;
margin: 0 4px 0 0;
}

.fm ul.menu li a, .fm ul.menu li *:visited {
border: 1px solid #0C61B0;
color: #333333;
display: block;
height: 22px;
line-height: 22px;
padding: 0 0 0 5px;
text-align: center;
text-decoration: none;
width: 80px;
}

.fm ul.menu li *:hover {
background: none repeat scroll 0 0 #E5ECF3;
z-index: 110;
}
.fm ul.menu ul {
border-top: 0 none;
margin: 0;
position: absolute;
visibility: hidden;
width: 85px;
}
.fm ul.menu ul li {
background: none repeat scroll 0 0 #E5ECF3;
border-bottom: 1px solid #BDD9E8;
color: #FFFFFF;
}
.fm ul.menu ul li a, .fm ul.menu ul li *:visited {
border: 0 none;
color: #000000;
}
.fm ul.menu ul li a {
color: #000000;
font-weight: normal;

}
.fm ul.menu ul li *:hover {
background: none repeat scroll 0 0 #E5ECF3;
}
.fm ul.menu li:hover ul, .fm ul.menu a:hover ul {
color: #FFFFFF;
visibility: visible;
}
.fm ul.menu li a.bt2 {
background: url("/img/pic_04.gif") no-repeat scroll 3px 4px transparent;
color: #BB0000;

}
.fm ul.menu li a.bt3 {
background: url("/img/pic_01.gif") no-repeat scroll 3px 4px transparent;
}
.fm ul.menu li a.bt4 {
background: url("/img/pic_08.gif") no-repeat scroll 3px 3px transparent;
color: #BB0000;
}
</style>
<div id="my-app-container">
    <div id="my-app-content" class="clear">
    <div class="fm">
        <ul class="menu">
            <li><a class="bt3" target="_blank" href="#">&nbsp;&nbsp;&nbsp;发表新讨论</a> </li>
            <li><a class="bt4" href="javascript:void(0);" onclick="GoBottom();">&nbsp;&nbsp;&nbsp;回复此讨论</a> </li>
        </ul>
    </div>

    <div id="comment_container">

    </div>



    </div>
</div>
<%- include _footer %>

<script type="text/javascript">
    (function($){

        var url="/developer/commentList";
        $.my_ajax_html(url,"#comment_container");

        $("#comment_container").delegate(".event a","click",function(){
            //alert('123');

            var replyDom=$(this).parent().next();

            replyDom.show();
            replyDom.html(replyDom.attr("userID"));

            return false;
        });


    })($);



</script>