<%- include _header %>
<div id="my-app-container" appid="">
    <div id="my-app-content" class="clear">
        <%- include _navigator %>

        <div id="my-app-con">


        </div>
    </div>
</div>
<%- include _footer %>

<script>
    (function($){
        var appid=$("#my-app-container").attr("appid");
        var url="/devel/"


    })($);

</script>