<%- include _header %>
<div id="my-app-container">
    <div id="my-app-content" class="clear">
        <div class="">
            <h1>注册须知</h1>

        </div>
        <form action="<%= staticResourceUrl %>/developer/queryApp.jspx" name="queryForm" method="post">

            <div id="my-app-con" style="float: right">
                <div class="frame-content">
                    <h1>开发者注册</h1>

                    <p class="app-notice">
                        如果您上传的应用没有提交是无法正式上架的，请您确认后提交测试，测试通过后即可上架！

                    </p>

                </div>
            </div>

         </form>
    </div>
</div>

<%- include _footer %>
